<!-- Vertical nested child slider -->
<div class="swiper-container swiper-container-v">
    <div class="swiper-pagination swiper-pagination-v"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="swiper-container swiper-container-h-1">
                <div class="swiper-pagination swiper-pagination-h-1"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><span>Product 1</span></div>
                    <div class="swiper-slide"><span>Product 2</span></div>
                    <div class="swiper-slide"><span>Product 3</span></div>
                    <div class="swiper-slide"><span>Product 4</span></div>
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="swiper-container swiper-container-h-2">
                <div class="swiper-pagination swiper-pagination-h-2"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><span>Product 1</span></div>
                    <div class="swiper-slide"><span>Product 2</span></div>
                    <div class="swiper-slide"><span>Product 3</span></div>
                    <div class="swiper-slide"><span>Product 4</span></div>
                    <div class="swiper-slide"><span>Product 5</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
